* {
	font-family: 'Microgramma Extd D Medium', 'Microgramma Extd D', sans-serif;
}

html {
	height: 100%;
}

body {
	align-items: center;
	background: #000;
	height: 98%;
	justify-content: center;
	overflow: hidden;
}

header {
	background: #1c1c1c;
	border: 1px solid #ccc;
	color : #fff;
	font-size: 1.5em;
	padding: 4px;
	margin: 20px;
	color: #fff;
}

section.k-canvas {
	border: 1px solid #ccc;
	color : #fff;
	padding: 0px;
	position: relative;
	margin: 20px;
	text-align: center;
}

footer {
	background: #1c1c1c;
	border: 1px solid #ccc;
	color: #ccc;
	font-size: 0.8em;
	padding: 4px;
	margin: 20px;
	color: #fff;
}